
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #fff;
    --primary-green: #56fd3c;
    --secondary-green: #06d6a0;
    --secondary-hover-green:#0ac593;
    --background-green: #5db6ab;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-blue:#0093E9;
    --faded-blue: rgb(167, 203, 221);
    --secondary-blue:rgb(201, 251, 255);
    --header-height: 93vh;
    --card-radius: 25px;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Roboto Condensed", sans-serif;
}

/* navbar */

.navigation {
  position: sticky;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  /* padding-bottom: 10px; */
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}



/* header */

.header{
    padding-top: 10px;
    z-index:1; /*Add this*/
    text-align: center;
    background-image: url("../public/DALL-img.png");
    width: 100%;
}

/* .typed{
  margin-left: 5px;
} */

.header-image-div{
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #14b8a6;
  --tw-gradient-to: rgb(20 184 166 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  border-radius: 9999px;
  width: 15rem/* 240px */;
  height: 15rem/* 240px */;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  z-index: 2;
}


@media screen and (max-width: 550px) {
  .header{
    padding-top: 40px;
    z-index:1; /*Add this*/
    text-align: center;
    background-image: url("../public/DALL-img.png");
    width: 100%;
    /* height: 100%; */
}
}
.particles-canvas {
    position: absolute;
    height: 400px;
    width: 98vw;
    z-index: 1;
}

.header-h2{
    z-index: 2;
    position: relative;
    color: var(--primary-green);
}

.header-h3{
    z-index: 2;
    position: relative;
    color: #fcfcf8;
    margin-right: 5px;
}
.hh3{
 display: flex;
 z-index: 2;
 margin-left: 40%;
 margin-bottom: 0px;
 color: white;
}

.typed{
  z-index: 2;
  position: relative;
  color: #fcfcf8;
}

.header-p{
    margin-top: 0px;
    z-index: 2;
    position: relative;
    color: var(--secondary-green);
    margin-bottom: 20px;

}

.cba{
    z-index: 2;
    position: relative;
    margin-bottom: 30px;
}

.cb{
    border: solid blue;
}
.svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
}

#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: #0c1016;
  filter: url("#gooey");
  position: relative;
  background-color: #00FF80;
}

#gooey-button:focus {
  outline: none;
}
#gooey-button .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button .bubbles .bubble {
  background-color: #00FF80;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
#gooey-button .bubbles .bubble:nth-child(1) {
  left: 50px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-1 3.02s infinite;
          animation: move-1 3.02s infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#gooey-button .bubbles .bubble:nth-child(2) {
  left: 92px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-2 3.04s infinite;
          animation: move-2 3.04s infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#gooey-button .bubbles .bubble:nth-child(3) {
  left: 14px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-3 3.06s infinite;
          animation: move-3 3.06s infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#gooey-button .bubbles .bubble:nth-child(4) {
  left: 39px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-4 3.08s infinite;
          animation: move-4 3.08s infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#gooey-button .bubbles .bubble:nth-child(5) {
  left: 18px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-5 3.1s infinite;
          animation: move-5 3.1s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#gooey-button .bubbles .bubble:nth-child(6) {
  left: 38px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
          animation: move-6 3.12s infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
#gooey-button .bubbles .bubble:nth-child(7) {
  left: 22px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-7 3.14s infinite;
          animation: move-7 3.14s infinite;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
#gooey-button .bubbles .bubble:nth-child(8) {
  left: 28px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-8 3.16s infinite;
          animation: move-8 3.16s infinite;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
#gooey-button .bubbles .bubble:nth-child(9) {
  left: 92px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-9 3.18s infinite;
          animation: move-9 3.18s infinite;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
#gooey-button .bubbles .bubble:nth-child(10) {
  left: 30px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-10 3.2s infinite;
          animation: move-10 3.2s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -63px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -63px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -97px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -97px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -93px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -93px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -61px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -61px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -106px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -106px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -83px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -83px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -57px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -57px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -88px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -88px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -129px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -129px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

/* AboutMe */

.time{
  /* background-color: #00FF80; */
  border-radius: 30px;
}

/* skills */

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size:1.2rem;
}

.grid-item{
  padding:1rem;
  color:#fff;
}

.grid-item:hover .skill-img{
  transform: translateY(-10px);
}

.grid-item:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
  width:35px;

}

.skill-title{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:0.5rem;
  margin-bottom:0.5rem;
  position:relative;
}

.skill-title::after{
  content:"";
  position:absolute;
  bottom:0;
  /* right:50%; */
  width:100px;
  height:4px;
  border: seagreen 50px;
  border-radius: 2px;
  background-color: var(--primary-green);
  transition: .5s;
}

.skill-title::before{
  content:"";
  position:absolute;
  bottom:0;
  left:50%;
  width:0;
  height:4px;
  border-radius: 0 2px 2px 0;
  background-color: var(--primary-green);
  transition: .5s;
}

.skill-img{
  width: 100px;
  height: 100px;
  position:relative;
  border-radius: 45px;
  background-color:var(--secondary-blue);
  display:flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

/* .skill-img{
  width:150px;
  height: 150px;
  margin-left: 30%;
  padding: 40px;
} */

.skill-img::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:90px;
  background: rgba(100, 100, 100, 0.2);
  border-radius: 45px 0 0 45px;
}

.skill-title h3{
  color:#fff;
  margin-top:0.5rem;
}

.skill-icon{
  z-index: 2;
  width: 75px;
  
}

@media only screen and (max-width: 990px){
  .grid-container{
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 50px;
  }
}

@media only screen and (max-width: 650px){
  .grid-container{
      grid-template-columns: 1fr;
  }
}

  /* projects */

  .pro-g{
   display: flex;
   background-color: #00FF80;
  } 

.card-wraper{
  padding:1rem;
}

.card{
  max-width:25rem;
  min-height:664px;
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.3) !important;
  transition: transform 0.5s ease;
  border-radius: var(--card-radius) !important;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #e7e7e7 100%);
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.7) !important;

  background-image: linear-gradient(120deg, #fdfbfb 30%, #e7e7e7 70%);
  transition: background-color 1000ms linear;
}

.card-body{
  padding:3rem 0 !important;
  border: #282c34;
  
}

.card-title{
  font-weight: bold;
}

.card-text{
  font-size: 0.9rem;
  padding:0.4rem 1.9rem;
}

.card-tech-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size:0.7rem;
  height: 8rem;
}

.tech-item{
  text-align: center;
  color: rgb(10, 10, 10);
  font-weight: bold;
  border-radius: var(--card-radius) !important;

  border-style: solid;
  border-color:  #99d3f5 ;
}

.overflow{
  border-radius: var(--card-radius) var(--card-radius)  0px 0px !important;
  overflow: hidden;
}

.card-img-top{
  width:100%;
  height: 20rem;
  transform: scale(1);
  transition: transform 1.5s ease;
}

.card-img-top1{
  width:40%;
  height: 30rem;
  transform: scale(1);
  transition: transform 1.5s ease;
}

.card:hover > .overflow>.card-img-top{
  transform:scale(1.1);
}

.btn-external-link{
  padding: 0.5rem;
  border-radius: 50px;
  
}

.btn-external-link:hover{
  background-color: rgb(219, 219, 219);
}

@media only screen and (max-width: 1485px){
  .card-wraper{
      padding:0;
  }
  .card-tech-grid{
      grid-template-columns: repeat(2, 1fr);
      padding: 0rem 50px;
      grid-gap: 0.5rem;
      font-size:0.7rem;

  }

  .card-img-top1{
    width:100%;
    height: 20rem;
    transform: scale(1);
    transition: transform 1.5s ease;
  }
}

  /* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .nmodal{
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  

  .card-tech-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size:0.7rem;
    height: 8rem;
}

.tech-item{
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: bold;
    border-radius: var(--card-radius) !important;
    border-style: solid;
    border-color:  #99d3f5 ;
}

  /* component */

  .component-wrapper{
    position: relative;
    background-position: center;
    background-size:cover;
    background-image: #fdfbfb;
  
    padding-top: 60px;
  
    padding-left: 0.5rem;
    padding-right:0.5rem;
  }
  
  .component-content{
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1;
  }
  
  .component-title-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
  }
  
  .component-title{
    margin:0;
    text-align: center;
  }
  
  .component-title::after{
    content: "\A....";
    white-space: pre;
  }
  
  .component-body-area{
    width: 100% !important;
    display: inline-block;
    font-size: 16px;
    color: rgb(53, 53, 53);
  
    background-color: var(--primary-blue);
    background-image: linear-gradient(160deg, var(--primary-blue) 0%, var(--background-green) 100%);
  
  
    border-radius: var(--card-radius);
  }
  
  
  .component-button{/**Note: use for buttons, doesnt apply to timelene and header buttons */
    border-radius: 5px;
    color: var(--primary-white);
    margin: 0.5rem;
    
    transition: all .2s ease-in-out;
  }
  
  @media only screen and (max-width: 1024px) {
    .component-wrapper{
        padding-left: 0;
        padding-right:0;
    }
  }
  
/* contact-me */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
  box-sizing: border-box;
}
.contact-me-body {
  margin: 0;
  padding: 0;
  background-color: #c8e7d8;
  color: #4e5e72;
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}
.ch1, .cp {
  margin: 0;
  padding: 0;
}
.ch1 {
  font-size: 2rem;
  font-family: 'Dancing Script';
}
.csmall {
  display: block;
  padding: 1rem 0;
  font-size: 0.8rem;
  transition: opacity 0.33s;
}
.ctextarea, .cinput, .cbutton {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.ctextarea, .cinput {
  color: #4e5e72;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
.ctextarea {
 width: 100%;
 height: 8rem;
 resize: none;
}
.cinput {
 width: 50%;
 margin-bottom: 1rem;
}
.cinput[type=text]:invalid, .cinput [type=email]:invalid {
    box-shadow: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(240, 132, 114, 0.5)' x='0' y='23' width='10' height='1'/></svg>");
  }
.cbutton {
 padding: 0.5rem 1rem;
 border-radius: 0.25rem;
 background-color: rgba(78, 94, 114, 0.9);
 color: white;
 font-size: 1rem;
 transition: background-color 0.2s;
}
.cbutton:hover,.cbutton :focus {
    outline: none;
    background-color: rgba(78, 94, 114, 1);
  }
.cinput[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}
.wrapper {
  width: 35rem;
  background-color: white;
}
.letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 30rem;
  margin: auto;
  perspective: 60rem;
}
.side {
  height: 12rem;
  background-color: #fcfcf8;
  outline: 1px solid transparent;
}
.side:nth-of-type(1) {
  margin-top: 30px;
    padding: 2rem 2rem 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
  }
.side.side:nth-of-type(2) {
  margin: auto;
  margin: 0;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
    text-align: right;
  }
.envelope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  margin-top: 30px;
}
.envelope.front {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}
.envelope.front::before, .envelope.front::after {
  position: absolute;
  display: block;
  width: 12rem;
  height: 6rem;
  background-color: #e9dc9d;
  transform: rotate(30deg);
  transform-origin: 0 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}
.envelope.front::after{
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 100% 0;
}
.envelope.back {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  transform: translateY(-6rem);
}
.envelope.back::before {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #e9dc9d;
    border-radius: 1rem;
    content: '';
    transform: scaleY(0.6) rotate(45deg)
  }
.result-message {
  opacity: 0;
  transition: all 0.3s 2s;
  transform: translateY(9rem);
  z-index: -9999;
}
.sent .letter {
    -webkit-animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
            animation: scaleLetter 1s forwards ease-in /*,
               pushLetter 0.5s 1.33s forwards ease-out*/ ;
  }
.sent .side:nth-of-type(1) {
    transform-origin: 0 100%;
    -webkit-animation: closeLetter 0.66s forwards ease-in;
            animation: closeLetter 0.66s forwards ease-in;
  }
.sent .side:nth-of-type(1) h1, .sent .side:nth-of-type(1) textarea {
    -webkit-animation: fadeOutText 0.66s forwards linear;
            animation: fadeOutText 0.66s forwards linear;
  }
.sent button {
    background-color: rgba(78, 94, 114, 0.2);
  }
.sent .envelope {
    -webkit-animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
            animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
  }
.sent .result-message {
    opacity: 1;
    transform: translateY(12rem);
  }
.sent small {
    opacity: 0;
  }
.centered {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem auto;
}
@-webkit-keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@-webkit-keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@-webkit-keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  /*90% {opacity: 1; transform: translateY(4rem);}*/
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@-webkit-keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}
@keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}

/*
@keyframes pushLetter {
  0% {transform: translateY(-8rem) scale(0.3, 0.5);}
  50% {transform: translateY(-8rem) scale(0.3, 0.5);}
  90% {transform: translateY(-8.5rem) scale(0.3, 0.5);}
  100% {transform: translateY(-8rem) scale(0.3, 0.5);}
}
*/

@media all and (min-width:400px) and (max-width: 600px) {
  /* put your css styles in here */
  .side{
    position: relative;
    /* margin-top: 40px; */
    width: 70%;
  }
  /* .side.side:nth-of-type(2) {
    margin: 0;
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
      text-align: right;
    } */

}

.Confetti{
  bottom:0;
  position: relative;
}